.page {
  padding: 20px;
  padding-right: 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 20%;
}
.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  grid-column: 1/3;
}
.edit{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.editbuttons{
  align-self: flex-start;
}
.textarea{
  resize: none;
}
.sidebar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid black;
  padding: 10px;
}
.member{
  margin-bottom: 10px;
}
.admin{
  padding: 3px;
}
.joinleave{
  margin: 10px;
}
.post{
  display: grid;
  grid-template-columns: auto 80px;
}
.delete{
  align-self: flex-start;
  border: solid black 1px;
}
.makepost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}