.post {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px black;
}
.info {
  display: flex;
  justify-content: space-between;
}
.edit{
  display: flex;
}
.edit > button {
  margin: 5px;
}
.likes{
  display: flex;
}
.likes > button {
  margin: 5px;
}
.likenames {
  display: flex;
  flex-direction: column;
}
.avatar{
  max-width: 50px;
  max-height: 50px;
}
.user{
  display: flex;
  align-items: center;
  gap: 10px
}
.image{
  max-height: 400px;
  max-width: 400px;
}
.likes > button {
  align-self: flex-start;
}
.update {
  display: flex;
  gap: 10px;
}
.comment{
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin: 10px;
}