.page{
  padding: 20px;
  width: 100%;
}
.create{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}
.inputs {
  align-self: flex-start;
  width: 50%;
}
.inputs2{
  align-self: flex-start;
}